
.card .card-text{
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}

.card .text-end{
    font-size: 12px;
}

.card .card-image{
    height: 150px;
}

.card .btn-card{
    background-color: #005387;
    color: #fff;
    border: none;
}

.card .btn-card:hover{
    background-color: #fff;
    color: #005387;
    border: 1px solid #005387;
}